<a href="https://colab.research.google.com/github/dlint08/Programmer-s-Toolkit-Monthly-Subscription-Box/blob/main/PythonTutorial_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You may watch this [Python Tutorial Video](https://youtu.be/kqtD5dpn9C8?feature=shared&t=249) to help you understand each section.

To run the code in individual sections, hover the mouse on the left side of the code space and click the *play/run* button.
You can also use keys *"Shift + Return"*

In [ ]:
print("Hello World!")

# **Variables**

In [ ]:
age = 20
print(age)

*Practice*: Change the value of age and print it out in the following space.

Deep Dive: different **types** of variables.

In [ ]:
age = 20
price = 19.99
first_name = "Mr. Doe"
is_online = True
print(first_name + " is " + str(age) + " years old")

*Exercise*: Check in a new patient named James Smith, who is 20 years old.

**Input**

In [ ]:
name = input("what is your name")
print("Hello " + name)

**Type conversion**

1. Error: the input is read in as a string, which cannot be operated on with a number.

In [ ]:
birth_year = input("Enter your birth year")
age = 2022 - birth_year
print (age)

Fixing the code: convert string input to integer

In [ ]:
birth_year = input("Enter your birth year")
age = 2022 - int(birth_year)
print (age)

Exercise: Basic calculator. Adding two numbers

**Strings**

In [ ]:
# The string class contains a lot of built-in methods
course = 'Discover AI'
print(course.find('i'))

# **Operators**

1. Arthmetic Operators

In [ ]:
# Addition
print("10 + 3 = " + str(10 + 3))

# Subtraction
print("10 - 3 = " + str(10 - 3))

# Multiplication
print("10 * 3 = " + str(10 * 3))

# Division
print("10 / 3 = " + str(10 / 3))

# Division with integer
print("10 //3 = " + str(10 // 3))

# Modulus
print("10 % 3 = " + str(10 % 3))

# Exponent
print("10 ** 3 = " + str(10 ** 3))

In [ ]:
# Augmented operators
x = 10
x += 3
print(x)

Operator Precedence

In [ ]:
x = 10 + 3 * 2
print (x)

2. Comparison Operators

In [ ]:
# They return boolean (True/False) solutions

# Greater than
print("10 > 3: " + str(10 > 3))
# Greater than or equal to
print("3 >= 3: " + str(10 >= 3))
# Less than
print("10 < 3: " + str(10 < 3))
# Less than or equal to
print("10 <= 3: " + str(10 <= 3))
# Equal
print("10 == 3: " + str(10 == 3))
# Not equal
print("10 != 3: " + str(10 != 3))

4. Logical Operators

In [ ]:
# Used for building complex rules and conditions

# Using "and" check that a price is between two values
price = 25
print("Price between 10 and 30: " + str(price > 10 and price < 30))

# Using "or" check that a price is either of two values
price = 25
print("Price is either 10 or 30: " + str(price == 10 or price == 30))

# Using "not" check that a price is less than a value
price = 25
print("Price is less than 30: " + str(not price > 30))

# **If Statements**

In [ ]:
# Used to make decisions

# Print a message if the temperature is > 30
temperature = 35
if(temperature > 30):
    print("It's a hot day")
    print("Drink plenty of water")
# Everything below will be outside of the conditional statement
print ("Done")

*Practice* Add a condition for printing "It's a nice day" if the temperature is between 20 and 30

In [ ]:
temperature = 25
if(temperature > 30):
    print("It's a hot day")
    print("Drink plenty of water")

**Exercise**

* Get weight as input
* Get unit as input (Kgs or Lbs)
* Display weight converted to the opposite unit

# **Loops**

In [ ]:
i = 1
while i <= 1000:
    print(i)
    i = i + 1

# **Lists**

In [ ]:
# list of names
names = ["Jane", "John", "Mary", "Sam", "Safi"]
print(names)

# print the first three names

# Add a name at the head of the list

List methods

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
# Append

# Insert

# Remove

# Clear

# In
print(10 in numbers)
# Len
print (len(numbers))

## **For Loops**

In [ ]:
numbers = [1, 2, 3, 4, 5,]
for item in numbers:
    print (item)

**Range function**

In [ ]:
# The function can have 1 to 3 arguments.

# 1. generate numbers up to a value
numbers = range(5)
for number in numbers:
    print(number)

**Tuples**

In [ ]:
# Immutable (unchangeable) elements
numbers = (1, 2, 3)